.two {
	background-image: url(https://img3.akspic.ru/originals/2/1/3/5/6/165312-atmosfera-svet-astronomicheskij_obekt-art-nauka-3840x2160.jpg);
    background-repeat: no-repeat;
	background-position: cover;
	background-size:100%;
	background-position: all;
	height: 100vh;
	background-attachment: scroll;

}

.head {
	color: black;
	display: flex;
	justify-content: center;
	font-size: 30px;
}

.block {
	width: 200px;
	height: 200px;
	background: #69000052;
	border-radius: 0px;
	margin: 60px;
	font-size: 20px;
	transition: 1s;
	animation: bob 4s ease infinite;

	border: 4.5px;
	border-style: solid;
	border-color: purple;
	animation: border 4s ease infinite;
	box-shadow: 0px 0px 15px 7px blueviolet;
	animation: bborder 8s ease infinite;
	border-radius: 10px;
	background-size: cover;
}

.nhead {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	height: 80vh;
}

.block img {
	border-radius: 10px;
}

.block h5 {
	color: #c2cbf8;
}

.block h3 {

}

.block span {
	color: black;
	display: flex;
	align-items: flex-end;
}

.block:hover {
	transform: scale(1.1);
	box-shadow: 0px 0px 15px 7px blueviolet;
}

.hed {
	color: lightblue;
	transition: 1s;
}

.hed:hover {
	transform: scale(1.05);
	text-decoration: underline;
}

@keyframes border {
	0% {
		border-color: blue;
	}
	25% {
		border-color: blueviolet;
	}
	50% {
		border-color: purple;
	}
	75% {
		border-color: blueviolet;
	}
	100% {
		border-color: blue;
	}
}

@keyframes bborder {
	0% {
		box-shadow: 0px 0px 15px 7px lightblue;
	}
	25% {
		box-shadow: 0px 0px 15px 19px violet;
	}
	50% {
		box-shadow: 0px 0px 15px 7px purple;
	}
	75% {
		box-shadow: 0px 0px 15px 7px violet;
	}
	100% {
		box-shadow: 0px 0px 15px 7px lightblue;
	}
}

@keyframes bob {
	0% {

	}
	25% {
		background: lime;
	}
	50% {
		background: lightgreen;
	}
	75% {
		background: lime;
	}
	100% {
		background: green;
	}
}

@keyframes bpp {

}

.hed::before {
	content: '';
	position: absolute;
	background: blue;
	width: 100%;
	height: 8px;

	transform: scaleX(0);
	transition: 1s;
}
.hed:hover::before {
	transform: scaleX(2);
}